<head>
    <meta charset="UTF-8">
    <title><%- locals.title -%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Search Engine -->
    <meta name="description" content="A Property Management Firm.">
    <meta name="image" content="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp">
    <link rel="apple-touch-icon" href="#">
    <link rel="icon" href="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" type="image/x-icon">
    <meta name="theme-color" content="#BFD9D7">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Demo App">
    <meta itemprop="description" content="A demo app demonstrating the use of JavaScript.">
    <meta itemprop="image" content="https://mdbgo.io/ascensus/mdb-advanced/img/mdb.webp">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Demo App">
    <meta property="og:description" content="A demo app demonstrating the use of JavaScript.">
    <meta property="og:image" content="https://mdbgo.io/ascensus/mdb-advanced/img/mdb.webp">
    <meta property="og:url" content="https://mdbootstrap.com/assets/new-logo.png">
    <meta property="og:site_name" content="Demo App">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Demo App">
    <meta property="twitter:description" content="A demo app demonstrating the use of JavaScript.">
    <meta property="twitter:image:src" content="https://mdbgo.io/ascensus/mdb-advanced/img/mdb.webp">
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css">
</head>